*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: #283c86;
  background: -webkit-linear-gradient(to right, #45a247, #283c86);
  background: linear-gradient(to right, #45a247, #283c86); 
  font-family: 'Lato', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

/*Titulo*/
.Titulo{
  font-size: 66px;
  text-align: center;
  color: white;

}
.Titulo:hover{
  color: black;
}
/*Navegacion Menu*/

.Navegacion{
  font-size: 25px;
  font-weight: lighter;
  display: flex;
  padding: 40px;


}
li{
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin: auto;


}
a{
  color: white;
  text-decoration: none;

}
a:hover{
  color: black;

}

